@font-face {
    font-face-name: "ibm";
    src: url("fonts/IBM Plex Mono-Regular.woff2") format("woff2"),
    url("fonts/IBM Plex Mono-Regular.woff") format("woff"),
    url("fonts/IBMPlexMono-Regular.ttf") format("truetype");
    font-weight: 400;
}

@font-face {
    font-face-name: "ibm";
    src: url("fonts/IBM Plex Mono Medium.woff2") format("woff2"),
    url("fonts/IBM Plex Mono Medium.woff") format("woff"),
    url("fonts/IBMPlexMono-Medium.ttf") format("truetype");
    font-weight: 500;
}

@font-face {
    font-face-name: "ibm";
    src:  url("fonts/IBM Plex Mono SemiBold.woff2") format("woff2"),
    url("fonts/IBM Plex Mono SemiBold.woff") format("woff"),
    url("fonts/IBMPlexMono-SemiBold.ttf") format("truetype");
    font-weight: 600;
}

@font-face {
    font-face-name: "ibm";
    src: url("fonts/IBM Plex Mono-Bold.woff2") format("woff2"),
    url("fonts/IBM Plex Mono-Bold.woff") format("woff"),
    url("fonts/IBMPlexMono-Bold.ttf") format("truetype");
    font-weight: 700;
}