:root {
    --primary: #181A1E;
    --secondery: #23272D;
    --other: #474B54;
    --other2: #646C75;
}

.main-container {
    width: 100%;
    height: 100%;
}

.header {
    width: 100%;
    height: 60px;
    background-color: var(--secondery);
}

.container {
    margin: auto;
    max-width: 1400px;
    background-color: var(--primary);
}