:root {
    --primary: #181A1E;
    --secondery: #23272D;
    --other: #474B54;
    --other2: #646C75;
}

.main-container {
    flex-shrink: 1;
    flex-grow: 1;
}

.font {
    color: #ffffff;
    font-family: "ibm", sans-serif;
    font-weight: 500;
}

.header {
    flex-shrink: 1;
    flex-grow: 1;
    height: 60px;
    background-color: var(--secondery);
}

.container {
    margin: auto;
    max-width: 1400px;
    background-color: var(--primary);
}